{%load staticfiles%}

<html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Odibee+Sans|Zhi+Mang+Xing&display=swap" rel="stylesheet"> 

</head>

<body >
 <p>LOST n FOUND<p>
    
    <div style="margin: auto;">
<div style="border:2px solid white; float:left; height:300px; width:200px; border-radius: 20px; ">
     <a href="https://lnf-kiet.herokuapp.com/found/">
         <p style="padding-top: 40px;">
         FOUND SOMETHING !!!!
     
         
         </p> </a>
    
    </div>
    
    
    
    <div style="border:2px solid white; height:300px; width:200px;border-radius: 20px;float:left; ">
     <a href="https://lnf-kiet.herokuapp.com/lost/">
         <p style="padding-top: 40px;">
         LOST ANYTHING?
         </p> </a>
    
    </div>
    
       <div style="border:2px solid white; height:300px; width:200px;border-radius: 20px;float:left; ">
     <a href="https://lnf-kiet.herokuapp.com/founditems//">
         <p style="padding-top: 40px;">
         FOUND ITEMS
         </p> </a>
    
    </div>
    
    
 
       <div style="border:2px solid white; height:300px; width:200px;border-radius: 20px;float:left; ">
     <a href="https://lnf-kiet.herokuapp.com/lostitems/">
         <p style="padding-top: 40px;">
         LOST ITEMS
         </p> </a>
    
    </div>
    
    
 
     
    </div>
</body>





</html>


<style>
    body{
        background-color: black;
    }
    button{
        padding:8px;
    }
p{ text-align:center;
    font-size:45px;
    
    font-family: 'Odibee Sans', cursive;
}

</style>