{%load staticfiles%}

<html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
   <link href="https://fonts.googleapis.com/css?family=Lacquer&display=swap" rel="stylesheet"> 

</head>

<body >
 <p style="color:white; font-size:55px;">LOST n FOUND<p>
    
    
    
<table>
    
    
    <tr>
        
        <td>
        
        <div>
     <a href="https://lnf-kiet.herokuapp.com/found/">
         <p style="padding-top: 50px; color:whitesmoke;">
         FOUND SOMETHING !!!!
     
         
         </p> </a>
    
    </div>
    
        </td>
        
        <td>
         <div >
     <a href="https://lnf-kiet.herokuapp.com/lost/">
         <p style=" color:whitesmoke; padding-top: 50px;">
         LOST ANYTHING?
         </p> </a>
    
    </div>
        
        </td>
        
        <td>
         
       <div >
     <a href="https://lnf-kiet.herokuapp.com/founditems//">
         <p style=" color:whitesmoke; padding-top: 40px;">
         FOUND ITEMS <br> LIST         </p> </a>
    
    </div>
        
        </td>
        
        <td>
        
       <div >
     <a href="https://lnf-kiet.herokuapp.com/lostitems/">
         <p style=" color:whitesmoke; padding-top: 40px;">
         LOST<br> ITEMS<br>LIST
         </p> </a>
    
    </div>
        
        </td>
        
        
        </tr>
    
    
    
    
    </table>

    
    
    
   
   
    
    
 
    
    
 
     
</body>





</html>


<style>
    body{
        background-color: black;
        background-size: cover;
    }
    button{
        padding:8px;
    }
p{ text-align:center;
    font-size:35px;
    
   font-family: 'Lacquer', sans-serif;
}
    div{
        border:6px solid white; height:300px; width:200px;border-radius: 20px;float:left; background-color:cornflowerblue;
    }
    
    table{
        
        margin-left: auto;
        margin-right:auto;
    }
</style>